.FormContainer {
    display: flex;
    padding: 4em;
    justify-content: space-between;
}

.FormLeft {
    width: 40%;
    display: flex;
    place-items: center;
    flex-direction: column;
}

.FormRight {
    width: 40%;
    display: flex;
    place-items: center;
    flex-direction: column;
}

.FormInput {
    margin-bottom: 18px;
    width: 100%;
    font-size: 1.2em;
    padding: 8px;
}

.GraficNameStyle {
    color: #0071e3;
}

.SubmitButton {
    width: 400px;
    font-size: 1.2em;
    padding: 8px;
    background-color: #1993d0;
    border: none;
    outline: 0;
    color: #fff;
    border-radius: 4px;
}
.SubmitButton:hover {
    background-color: #53afdc;
}
