.OldResultsTable {
    width: 100%;
}
.OldResultsTable thead tr {
    background-color: #e0f0f9;
}

.OldResultsTable tr:nth-child(even) {
    background-color: #e0f0f9;
}

.Tablecell {
    text-align: center;
    padding: 8px;
}
