.OldResultsTable {
    width: 100%;
    border-collapse: collapse;
}
.OldResultsTable thead tr {
    background-color: #e0f0f9;
}

.OldResultsTable tr:nth-child(even) {
    background-color: #e0f0f9;
}

.Tablecell {
    text-align: center;
    padding: 8px;
}


.BackToHomePageButton {
    display: flex;
    align-items: center;
    margin-top: 20px;
}